extends layout 

block content 
  h1 Departments

  ul#linkcollection 
    each category in category_list 
      li.categoryrow
        a(href=category.item_list_url) #{category.name} 
        a(href=category.detail_url) More Details

    else 
      li There are no departments.
  a.extralink(href='/inventory/category/create') Create new department