doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav#navbar
      a(href='/inventory/') Inventory App
    div#maincontent
      block content
